body {
    font-size: 34px;
    font-weight: 500;
    text-align: center;
}

.css {
    width: 500px;
    height: 34px;
    margin: 0 auto;
    background-color: rgb(55, 0, 255);
    background-image: url("./assets/img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
